$colors: (
	default: (
		text: #131110,
		background: #f5f2ef,
		primary: #583a2d,
		secondary: #d29c89,
		scrollbar: #c7c7c7,
		accent: #ffaf85,
		accent-alt: #b45431
	),
	dark: (
		text: #efedec,
		background: #100d0a,
		primary: #d2b4a7,
		secondary: #76402d,
		scrollbar: #6b6b6b,
		accent: #7a2b00,
		accent-alt: #ce6e4b
	)
);

:root {
	@include themeToVars(default);

	@each $theme, $values in $colors {
		@if $theme == 'dark' {
			@media (prefers-color-scheme: dark) {
				@include themeToVars(dark);
			}
		}
	}
}

//todo поменять класс .theme-dark на :root[data-theme = "light"] как на realtimecolors.com
//
//:root {
//  @include themeToVars(default);
//
//  &[data-theme='dark'] {
//     @include themeToVars(dark);
// }
//}
